<div class="hero is-fullheight is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-multiline is-centered">

        <div class="column is-4">
          <div class="box">
            <div>
              <h1 class="is-size-3">Select a Character</h1>
            </div>
            <hr>
            <div>
              <app-select></app-select>
            </div>
            
          </div>
        </div>

        <div class="column is-12">
          <a routerLink="/home" class="button is-large is-danger is-rounded is-outlined">Back</a>
        </div>

      </div>


    </div>
  </div>
</div>