<div class="hero is-fullheight is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-multiline is-centered">

        <div class="column is-3">

          <div *ngIf="!charList">
              <h1 class="is-size-5 has-text-weight-light">Loading ...</h1>
          </div>

          <div *ngIf="charList">
            <div *ngFor="let char of charList.characters">
              <a (click)="onSelect(char)" class="box has-text-dark is-size-4 charLink">{{ char.name }}</a>
            </div>
          </div>

        </div>

        <div class="column is-12">
          <a routerLink="/home" class="button is-large is-warning is-rounded is-outlined">Back</a>
        </div>

      </div>


    </div>
  </div>
</div>