<div class="hero is-fullheight is-dark">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-multiline is-centered">

                <div class="column is-5">

                    <div *ngIf="!charDeets">
                        <h1 class="is-size-1 has-text-weight-light">Loading...</h1>
                    </div>

                    <div *ngIf="charDeets">
                        <h1 class="is-size-1 has-text-weight-light">{{ charDeets.name }}</h1>
                        
                        <hr>
                        
                        <div *ngIf="charDeets">
                            <div *ngFor="let film of charDeets.films">
                                <h1>{{ film }}</h1>
                            </div>
                        </div>

                    </div>

                    <div>
                        <a routerLink="/select" class="button is-outlined is-rounded is-danger is-large">back</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>